*{
margin:0;
padding:0;
}

html{
	-webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

img{
	width: 100%;
	display: block;
	border-radius: 5px;
}

.clear{
	overflow: auto;
	clear: both;
}

ul{
	list-style: none;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}

#sidebar {
    /* MAGIC HAPPENS HERE */
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
}

.mobile-off{
	display: none;
}

::-moz-selection { /* Code for Firefox */
  background: lightgray;
}

::selection {
  background: lightgray;
}

/*-----------------MAIN-----------------*/

.flush-left{
	padding: 4px;
}

.flush-right{
	padding: 4px;
}

.lazy{
	display: block;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;
  -webkit-text-size-adjust: none;
}

.content {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 72px;
}

body{
	background-color: #E6E6E6;
	width: 100%;
	font-family: 'Schibsted Grotesk', sans-serif;
	font-size: 1em;
	font-kerning: normal;
}

h1, h2, h3{
	font-size: 1em;
	font-weight: 400;
}

article{
	padding-top: 46px;
	padding-left: 4px;
	padding-right: 4px;
}

.article-bio{
	padding-top: 74px;
}

#main-menu{
	position: fixed;
	z-index: 1000;
	padding-top:6px;
	padding-left: 8px;
	padding-bottom: 5px;
	width: calc(100% - 16px);
	overflow: hidden;
}

#project-nav{
	position: fixed;
	z-index: 1000;
	bottom: 0;
	left: 0;
	padding-left: 8px;
	padding-bottom: 8px;
	padding-top: 6px;
	width: calc(100% - 16px);
	overflow: hidden;
}

#name{
	float: left;
}

#about{
	text-align: right;
	float: right;
}

.project-desc{
	clear: both;
	margin-left: 4px;
	margin-right: 4px;
	margin-top: 32px;
}

.bio-left, .bio-right{
	width: calc(100% - 8px);
	padding: 4px;
}

.bio-right{
	padding-top: 38px;
}

.bio-item{
	padding-top: 36px;
}

.desc-left{
	width: 100%;
	margin-bottom: 26px;
}

.desc-right{
	width: 100%;

}

#credits{
	margin-top: 32px;
}

.bio-wheel{
	padding-top: 48px;
}

/*-----------------TEXT-----------------*/

a:link{
	color: black;
	text-decoration: none;
}

a:visited{
	color: black;
}

.text-S{
	font-size: 1em;
	line-height: 1.4em;
}

.text-M{
	font-size:1.4em;
}

.text-G{
	font-size:2em;
	letter-spacing: -0.01em;
}

figcaption{
	margin-top:6px;
	margin-bottom: 22px;
}

#vis-exploratory{
	position: fixed;
	z-index: 1000;
	top: 50%;
	width: 100%;
	transform: translate(0, -50%);
	font-size: 13vw;
	font-weight: 500;
	text-align: center;
	line-height: 0.9em;
	color: white;
	letter-spacing: -0.02em;
	mix-blend-mode:difference;
}

/*-----------------IMAGE-----------------*/

.project-image-container{
	width: calc(100% - 8px);
	padding: 4px;
}

.project-vimeo-container{
	width: 100%;
  border-radius: 5px;
  z-index: 1;
  overflow: hidden;
}

.project-image-left{
	padding-bottom: 8px;
}

video{
	clip-path: inset(1px 1px);
	width: calc(100% + 4px);
	margin: -2px;
}

.video-container{
	width: 100%;
	border-radius: 5px;
	overflow: hidden;
}

/*-------------------------------------------------RESPONSIVE BP-------------------------------------------------*/

@media only screen and (min-width: 840px) {

/*-----------------MAIN-----------------*/


.mobile-off{
	display: initial;
}

.flush-left{
	float: left;
}

.flush-right{
	float: right;
}

.three-col{
	width: calc(25% - 8px);
}

.four-col{
	width: calc(33.3% - 8px);
}

.five-col{
	width: calc(41.7% - 8px);
}

.six-col{
	width: calc(50% - 8px);
}

.seven-col{
	width: calc(58.3% - 8px);
}

.eight-col{
	width: calc(66.7% - 8px);
}

.nine-col{
	width: calc(75% - 8px);
}

.home-left{
	width: 83.3%;
}

.desc-left{
	float: left;
	width: calc(50% - 4px);
	margin-bottom: 0;
}

.desc-right{
	float: right;
	width: calc(50% - 4px);

}

.bio-left{
	float: left;
	width: 70%;
}

.bio-right{
	padding-top: 12px;
	float: right;
	width: 25%;
}

.project-desc{
	margin-top: 34px;
}

#credits{
	margin-top: 36px;
}

article{
	padding-top: 54px;
}

.article-bio{
	padding-top: 84px;
}


.bio-wheel{
	padding-top: 54px;
	padding-bottom: 48px;
}

/*-----------------TEXT-----------------*/

#vis-exploratory{
	font-size: 6.6vw;
}

.text-M{
	font-size:1.6em;
}

.text-G{
	font-size:2.3em;
}

/*-----------------IMAGE-----------------*/

.project-image-left{
	float: left;
	width: calc(50% - 4px);
	padding-bottom: 0;
}

.project-image-right{
	float: right;
	width: calc(50% - 4px);
}

.project-image-vert{
	width: 66.67%;
	margin-left: 16.665%;
}

}