*{
margin:0;
padding:0;
}

::selection {
  background: #ffebeb;
}

body {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	font-family: 'Open Sans', sans-serif;
    font-size: 120%;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 30px;
}

#screenshot{
	max-width: 100%;
	max-height: 100%;
	overflow: hidden;
}

#background{
	display: block;
	width: 1600px;
}

#logo {
	display: block;
	width: 65px;
	position: fixed;
	bottom: 45px;
	right: 50px;
	z-index: 2000;
}

#download {
	display: block;
	width: 65px;
	position: fixed;
	bottom: 55px;
	left: 50px;
	z-index: 2000;
	cursor: pointer;
}

#refresh {
	display: block;
	width: 66px;
	position: fixed;
	bottom: 55px;
	left: 50%;
	margin-left: -33px;
	z-index: 2000;
	cursor: pointer;
}

#click-again {
	position: fixed;
	bottom: 50px;
	left: 110px;
	z-index: 2000;
}

.icon {
	display: block;
	position: absolute;
	width: 500px;
}

#overlay-color {
	background-color: #ff4142;
	position: absolute;
	margin: 0;
	width: 100%;
	height: 100%;
	z-index: 2500;
	opacity: 0.2;
}

#start-box {
	padding: 30px;
	width: 530px;
	height: 218px;
	position: fixed;
    left: 0;
    right: 0;
    top: 30%;
	z-index: 3000;
	opacity: 1;
	margin: 0px auto;
	background-color: white;
	
}

#opening-link {
	text-align: center;
	margin-top: 28px;
	color: #ff4142;
	cursor: pointer;
}

#opening-link:hover{
	color: #2a57cc;
}

.none {
	display: none;
}


@media only screen and (min-width: 1600px) {

#background {
	width: 100%;
}

}




